<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chgocn.gankio.mvp">

    <!-- access network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".GankApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:allowClearUserData="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.personal.info.PersonalInfoEditActivity" />
        <activity
            android:name=".ui.WebActivity">
            <intent-filter>
                <action android:name="com.chgocn.gankio.mvp.WEB" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PhotoGestureActivity">
            <intent-filter>
                <action android:name="com.chgocn.gankio.mvp.PHOTO_GESTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>